{% extends "app.html" %}
{% load static %}

{% block headparttitle %} / Сменить пароль {% endblock %}

{% block content %}

    <div class="wrapper_form_login">
        <form class="formlogin" method="post">
            <div class="titleCards">
                Новый пароль
            </div>
            <div class="inputCards">
                <input type="password" value=""
                       required
                       name="password"
                       class="inputText" placeholder="введите логин">
            </div>
             {% if statusok %}
                <div class="alert alert-danger">
                    {{ statusok }}
                </div>
            {% endif %}


            <input type="submit" class="submitForm" value="Изменить">
            {% csrf_token %}
        </form>



    </div>

{% endblock %}
