{% extends "app.html" %}
{% load static %}

{% block headparttitle %} / Вход {% endblock %}

{% block content %}

    <div class="wrapper_form_login">
        <form class="formlogin" method="post">
            <div class="titleCards">
                логин
            </div>
            <div class="inputCards">
                <input type="text" value=""
                       required
                       name="username"
                       class="inputText" placeholder="введите логин">
            </div>
             <div class="titleCards">
                пароль
            </div>
            <div class="inputCards">
                <input type="password"
                       required
                       name="password"
                       value="" class="inputText"  placeholder="введите пароль">
            </div>
            {% if errors %}
                <div class="alert alert-danger">
                    {{ errors }}
                </div>
            {% endif %}
            <input type="submit" class="submitForm" value="Вход">
             {% csrf_token %}
             <hr>
             <center><a href="/signup">Регистрация</a> </center>
        </form>



    </div>

{% endblock %}
