{% extends "app.html" %}
{% load static %}

{% block headparttitle %} / Регистрация {% endblock %}

{% block content %}
    <div class="wrapper_form_login">
        <form class="formlogin" method="post">
            Создать новую запись
            <div class="titleCards">
                логин
            </div>
            <div class="inputCards">
                <input type="text" value=""
                       required
                       name="username"
                       class="inputText" placeholder="введите логин">
            </div>
            <div class="titleCards">
                email
            </div>
            <div class="inputCards">
                <input type="email" value=""
                       required
                       name="email"
                       class="inputText" placeholder="введите логин">
            </div>
             <div class="titleCards">
                пароль
            </div>
            <div class="inputCards">
                <input type="password"
                       required
                       name="password1"
                       value="" class="inputText"  placeholder="введите пароль">
            </div>
            <div class="inputCards">
                <input type="password"
                       required
                       name="password2"
                       value="" class="inputText"  placeholder="введите пароль еше раз">
            </div>
            {% if errors %}
                <div class="alert alert-danger">
                    {{ errors }}
                </div>
            {% endif %}
            <input type="submit" class="submitForm" value="Создать запись">
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
