{% extends "app.html" %}
{% load static %}

{% block headparttitle %} / Создать задачу {% endblock %}

{% block content %}
    <div class="wrapper_form_login">
          <form class="formlogin" method="post" >
            Редактировать задачу
            <div class="titleCards">
                Название
            </div>
            <div class="inputCards">
                <input type="text" value="{{task_edit.name}}"
                       required
                       name="name"
                       class="inputText" placeholder="Название нового проекта">
            </div>

            <div class="titleCards">
                описание
            </div>
            <div class="inputCards">
                <textarea name="description" required>{{task_edit.description}}</textarea>
            </div>

            <div class="titleCards">
                срок
            </div>
            <div class="inputCards">
                <input type="datetime-local" name="deadline" value="{{ task_edit.deadline|date:'Y-m-d\TH:i' }}" required>
            </div>
            <div class="titleCards">
                Статус
            </div>
            <select name="status">
                <option value="in_process" {% if task_edit.status == 'in_process' %}selected{% endif %}>In Process</option>
                <option value="completed" {% if task_edit.status == 'completed' %}selected{% endif %}>Completed</option>
                <option value="postponed" {% if task_edit.status == 'postponed' %}selected{% endif %}>Postponed</option>
            </select>

            <div class="titleCards">
                Пользователь
            </div>
            <div class="inputCards">
                <select class="js-example-basic-multiple" name="users" style="width: 100%" multiple="multiple">
                    {% for userselect in usersquery %}
                        <option value="{{ userselect.id }}"
                            {% if userselect in users_in_task %}selected{% endif %}
                        >{{ userselect }}</option>
                    {% endfor %}
                </select>
            </div>

            <input type="hidden" name="project" value="{{task_edit.project_id}}">
            <input type="hidden" name="шв" value="{{task_edit.id}}">
            {% csrf_token %}
            <input type="submit" class="submitForm" value="Обновить задачу">
          </form>
    </div>


    <div class="timer_div">
            Новое значение
                <form action="/timer/{{task_edit.id}}/new/"  method="post">
                    <input type="number" style="width:70px" type="number"
                                               name="hour"
                                               value="{{ task_time.duration_in_hour }}">
                                            часы
                    <input type="number" style="width:70px"
                                               onkeyup="checkRange(this, 0, 59)"
                                               name="minutes"
                                               value="{{ task_time.duration_in_minutes }}" >
                                            минуты
                     <input type="hidden" name="id" value="{{task_edit.id}}">
                     <input type="submit" value="Создать">
                     {% csrf_token %}
                </form>
            <br>
            Таймер:
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Дата</th>
                        <th>Пользователь</th>
                        <th>Затраченое время</th>
                        <th>Редактировать время</th>
                    </tr>
                </thead>
                <tbody>
                     {% for task_time in task_entries %}
                        <tr>
                            <td>
                                {{task_time.id}}
                            </td>
                            <td>
                                {{task_time.start_time}}
                            </td>
                            <td>{{ task_time.user }}</td>
                            <td>
                                {{ task_time.duration_in_hour }} часов
                                {{ task_time.duration_in_minutes }} минут

                            </td>
                            <td>
                                <form action="/timer/{{task_time.id}}/edit/"  method="post">
                                    <input type="number" style="width:40px" type="number"
                                           name="hour"
                                           value="{{ task_time.duration_in_hour }}">
                                        часы
                                    <input type="number" style="width:40px"
                                           onkeyup="checkRange(this, 0, 59)"
                                           name="minutes"
                                           value="{{ task_time.duration_in_minutes }}" >
                                        минуты
                                    <input type="hidden" name="id" value="{{task_time.id}}">
                                    <input type="submit" value="Изменить">
                                        {% csrf_token %}
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
    </div>

<script>
    function checkRange(element, min, max) {
    if (element.value > max) {
        element.value = max;
  } else if (element.value < min) {
        element.value = min;
    }
}
</script>
{% endblock %}
